<br>
<h1>Administrative Dashboard</h1>
<br>

<table class="table table-hover" id="admindash">
  <thead>
    <tr>
      <th colspan="2">Product Stats</th>
    </tr>
    <tr>
      <td><%= Unique Products in Store</td>
      <td><%= @product_count %>
    </tr>
    <tr>
      <td>Category Tally</td>
      <td><%= @category_tally %></td>
    </tr>
    <tr>
      <td>Total Stock Inventory Count</td>
      <td><%= @product_quantity_total%></td>
    </tr>


  </thead>
</table>